* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
  }

  header {
    padding: 0px;
    margin: 0px 315px;
  }

  footer {

  }

  